.form-block{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid;
    border-radius: 6px;
    background-image: url('includes/background.jpg');
}
.form{
    margin-top:12px;
}
.form-span{
    color:white;
}
input{
    max-width: 80%;
}